.filter{
    display: flex;
    width: 20%;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
    height: 85vh;
    position: fixed;
    margin-top: 6rem;
}

filter > span{
    padding-bottom: 20px;
}
.title{
    font-size: 30px;
    margin-bottom: 20%;
}
.dropdown{
    padding-bottom: 20px;
}


.category{
    padding-bottom: 20px;
    height: 100px;
    overflow: auto;
    justify-content:space-between;
    align-items:center;
}

.priceFilterUl{
    list-style: none;
}

.priceFilterLi{
    padding: 0.1rem 0.1rem;
    background-color: rgb(204, 200, 200);
    border: 1px solid grey;
    border-radius: 5px;
    margin-right: 0.4rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    display: inline-block;
}
.ApplyFilterBtn{
    margin-bottom: 1rem;
}